In [47]:
df = pd.read_csv("All_in_one.csv")

/var/folders/y7/ch6tzcy15m581gv9c6rl_zjm0000gn/T/ipykernel_14849/4279247090.py:1: DtypeWarning: Columns (119,120,174,186) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("All_in_one.csv")

In [48]:
df.State

0            Telangana
1        Uttar Pradesh
2              Gujarat
3          Maharashtra
4              Mizoram
             ...
19148        Telangana
19149        Karnataka
19150          Haryana
19151       Puducherry
19152         Nagaland
Name: State, Length: 19153, dtype: object

In [49]:
import pandas as pd
import numpy as np

# Loading the merged CSV file
try:
    df = pd.read_csv("All_in_one.csv")
    print("File 'All_in_one.csv' loaded successfully.")
    print(f"Original shape: {df.shape}")
except FileNotFoundError:
    print("Error: 'All_in_one.csv' not found. Please make sure the file is in the correct directory.")
    df = pd.DataFrame() 

if not df.empty:
    # Standardizing District and State Names
    for col in ['District', 'State_x', 'State_y', 'State_left', 'State_right', 'State']:
        if col in df.columns:
            df[col] = df[col].astype(str).str.lower().str.strip().str.replace('&', 'and', regex=False)

    district_mapping = {
        'nicobars': 'andaman and nicobar islands',
        'north and middle andaman': 'andaman and nicobar islands'
    }
    if 'District' in df.columns:
        df['District'] = df['District'].replace(district_mapping)

    # Consolidating Merged Columns
    cols_to_drop = []
    for col in df.columns:
        if col.endswith('_left'):
            base_name = col[:-5]
            right_col = f"{base_name}_right"
            if right_col in df.columns:
                df[base_name] = df[right_col].combine_first(df[col])
                cols_to_drop.extend([col, right_col])
        elif col.endswith('_x'):
            base_name = col[:-2]
            y_col = f"{base_name}_y"
            if y_col in df.columns:
                df[base_name] = df[y_col].combine_first(df[col])
                cols_to_drop.extend([col, y_col])

    df.drop(columns=cols_to_drop, inplace=True, errors='ignore')
    print(f"Consolidated {len(cols_to_drop)} suffixed columns.")

    # Final Cleaning and Type Conversion (Corrected)
    unnamed_cols = [col for col in df.columns if 'Unnamed:' in col]
    df.drop(columns=unnamed_cols, inplace=True, errors='ignore')
    print(f"Dropped {len(unnamed_cols)} 'Unnamed' columns.")

    # Identifying and converting the columns that should be numeric
    cols_to_convert = [col for col in df.columns if col not in ['State', 'District']]

    for col in cols_to_convert:
        df[col] = pd.to_numeric(df[col], errors='coerce')

    # Filling missing values with 0 only in these numeric columns
    df[cols_to_convert] = df[cols_to_convert].fillna(0)
    print("Converted columns to numeric and filled missing values with 0.")

    # Final Cleaned DataFrame
    print("\n--- Cleaning Complete! ---")
    print(f"Final cleaned shape: {df.shape}")
    print(df.head())

    df.to_csv("All_data_cleaned.csv", index=False)
    print("\nFully cleaned data saved to 'All_data_cleaned.csv'")

/var/folders/y7/ch6tzcy15m581gv9c6rl_zjm0000gn/T/ipykernel_14849/968071790.py:6: DtypeWarning: Columns (119,120,174,186) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("All_in_one.csv")

âœ… File 'All_in_one.csv' loaded successfully.
Original shape: (19153, 434)
âœ… Consolidated 2 suffixed columns.
âœ… Dropped 8 'Unnamed' columns.
âœ… Converted columns to numeric and filled missing values with 0.

--- Cleaning Complete! ---
Final cleaned shape: (19153, 424)
   Year    District  Cereals & Millets_Rice_Area  \
0  1997    adilabad                          0.0
1  1997        agra                          0.0
2  1997   ahmadabad                          0.0
3  1997  ahmednagar                          0.0
4  1997      aizawl                          0.0

   Cereals & Millets_Rice.1_Area  Cereals & Millets_Rice.2_Area  \
0                            0.0                            0.0
1                            0.0                            0.0
2                            0.0                            0.0
3                            0.0                            0.0
4                            0.0                            0.0

   Cereals & Millets_Rice.3_Area  Cereals & Millets_Rice.4_Area  \
0                            0.0                            0.0
1                            0.0                            0.0
2                            0.0                            0.0
3                            0.0                            0.0
4                            0.0                            0.0

   Cereals & Millets_Jowar_Area  Cereals & Millets_Jowar.1_Area  \
0                           0.0                             0.0
1                           0.0                             0.0
2                           0.0                             0.0
3                           0.0                             0.0
4                           0.0                             0.0

   Cereals & Millets_Jowar.2_Area  ...  Urad_Winter_Yield  Wheat_Kharif_Yield  \
0                             0.0  ...                0.0                 0.0
1                             0.0  ...                0.0                 0.0
2                             0.0  ...                0.0                 0.0
3                             0.0  ...                0.0                 0.0
4                             0.0  ...                0.0                 0.0

   Wheat_Rabi_Yield  Wheat_Summer_Yield  Wheat_Whole Year_Yield  \
0            3600.0                 0.0                     0.0
1          123600.0                 0.0                     0.0
2           96000.0                 0.0                     0.0
3           79700.0                 0.0                     0.0
4              22.0                 0.0                     0.0

   Wheat_Winter_Yield  other oilseeds_Kharif_Yield  other oilseeds_Rabi_Yield  \
0                 0.0                          0.0                        0.0
1                 0.0                          0.0                        0.0
2                 0.0                          0.0                        0.0
3                 0.0                          0.0                        0.0
4                 0.0                          0.0                        0.0

   other oilseeds_Summer_Yield  other oilseeds_Whole Year_Yield
0                          0.0                              0.0
1                          0.0                              0.0
2                          0.0                              0.0
3                          0.0                              0.0
4                          0.0                              0.0

[5 rows x 424 columns]

ðŸ’¾ Fully cleaned data saved to 'All_data_cleaned.csv'

In [50]:
df.State

0        nan
1        nan
2        nan
3        nan
4        nan
        ...
19148    nan
19149    nan
19150    nan
19151    nan
19152    nan
Name: State, Length: 19153, dtype: object

In [38]:
import pandas as pd
import numpy as np

# Loading merged CSV file
try:
    df = pd.read_csv("All_data_cleaned.csv")
    print("File 'All_in_one.csv' loaded successfully.")
    print(f"Original shape: {df.shape}")
except FileNotFoundError:
    print("Error: 'All_in_one.csv' not found.")
    df = pd.DataFrame()

if not df.empty:
    # Standardizing District Names
    if 'District' in df.columns:
        df['District'] = df['District'].astype(str).str.lower().str.strip().str.replace('&', 'and', regex=False)
    if 'State' in df.columns:
        df['State'] = df['State'].astype(str).str.lower().str.strip().str.replace('&', 'and', regex=False)

    district_mapping = {
        'ahmadnagar': 'ahmednagar', 'anugul': 'angul', 'baleswar': 'balasore',
        'banas kantha': 'banaskantha', 'bangalore rural': 'bengaluru rural',
        'bangalore urban': 'bengaluru urban', 'baramula': 'baramulla', 'baudh': 'boudh',
        'belgaum': 'belagavi', 'bellary': 'ballari', 'kochbihar': 'cooch behar',
        'debagarh': 'deogarh', 'dhaulpur': 'dholpur', 'east karbi anglong': 'karbi anglong',
        'west karbi anglong': 'karbi anglong', 'jagatsinghapur': 'jagatsinghpur',
        'jajapur': 'jajpur', 'jalor': 'jalore', 'jyotiba phule nagar': 'amroha',
        'kheri': 'lakhimpur kheri', 'mahesana': 'mehsana', 'mumbai city': 'mumbai',
        'mumbai suburban': 'mumbai', 'mysore': 'mysuru', 'narsimhapur': 'narsinghpur',
        'nav sari': 'navsari', 'north and middle andaman': 'andaman and nicobar islands',
        'nicobars': 'andaman and nicobar islands', 'pashchim champaran': 'west champaran',
        'pashchimi singhbhum': 'west singhbhum', 'purbi singhbhum': 'east singhbhum',
        'purw champaran': 'east champaran', 'sabar kantha': 'sabarkantha',
        'sahibzada ajit singh nagar': 'mohali', 'sant kabir nagar': 'sant kabir nagar',
        'seraikela kharsawan': 'saraikela-kharsawan',
        'sri potti sriramulu nellore': 'nellore', 'the dangs': 'dang', 'yadagiri': 'yadgir'
    }
    if 'District' in df.columns:
        df['District'] = df['District'].replace(district_mapping)
        print("Standardized district names.")

    # Grouping by Year/District and Aggregating the Rows

    key_cols = ['Year', 'District']
    if 'State' in df.columns:
        key_cols.append('State')

    numeric_cols = [col for col in df.columns if pd.api.types.is_numeric_dtype(df[col]) and col not in key_cols]

    # Creating aggregation dictionary dynamically
    agg_dict = {col: 'sum' for col in numeric_cols}
    
    # Only adding 'State' to the aggregation if it exists
    if 'State' in df.columns:
        agg_dict['State'] = 'first'

    group_cols = ['Year', 'District']
    df_merged = df.groupby(group_cols).agg(agg_dict).reset_index()
    print(f"Merged duplicate rows. New shape: {df_merged.shape}")

    # Final Cleanup
    final_cols_order = key_cols + sorted([col for col in df_merged.columns if col not in key_cols])
    df_final = df_merged[final_cols_order]

    print("\n--- Cleaning and Merging Complete! ---")
    display(df_final.head())

    df_final.to_csv("All_data_cleaned_and_merged.csv", index=False)
    print("\nFully cleaned and merged data saved to 'All_data_cleaned_and_merged.csv'")

âœ… File 'All_in_one.csv' loaded successfully.
Original shape: (19153, 424)
âœ… Standardized district names.
âœ… Merged duplicate rows. New shape: (16492, 424)

--- Cleaning and Merging Complete! ---

,Year,District,State,Area Sown More Than Once_Area Sown More Than Once_Area,Arecanut_Kharif_Yield,Arecanut_Rabi_Yield,Arecanut_Whole Year_Yield,Arhar/Tur_Autumn_Yield,Arhar/Tur_Kharif_Yield,Arhar/Tur_Rabi_Yield,...,Wheat_Summer_Yield,Wheat_Whole Year_Yield,Wheat_Winter_Yield,other oilseeds_Kharif_Yield,other oilseeds_Rabi_Yield,other oilseeds_Summer_Yield,other oilseeds_Whole Year_Yield,unnamed_col_58_irrigated_area,unnamed_col_59_irrigated_area,unnamed_col_60_irrigated_area
0,1997,adilabad,nan,0.0,0.0,0.0,0.0,0.0,32200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1997,agra,nan,0.0,0.0,0.0,0.0,0.0,6538.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1997,ahmadabad,nan,0.0,0.0,0.0,0.0,0.0,2900.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1997,ahmednagar,nan,0.0,0.0,0.0,0.0,0.0,17600.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1997,aizawl,nan,0.0,0.0,0.0,0.0,0.0,48.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ðŸ’¾ Fully cleaned and merged data saved to 'All_data_cleaned_and_merged.csv'

In [39]:
print(df_final.columns)

Index(['Year', 'District', 'State',
       'Area Sown More Than Once_Area Sown More Than Once_Area',
       'Arecanut_Kharif_Yield', 'Arecanut_Rabi_Yield',
       'Arecanut_Whole Year_Yield', 'Arhar/Tur_Autumn_Yield',
       'Arhar/Tur_Kharif_Yield', 'Arhar/Tur_Rabi_Yield',
       ...
       'Wheat_Summer_Yield', 'Wheat_Whole Year_Yield', 'Wheat_Winter_Yield',
       'other oilseeds_Kharif_Yield', 'other oilseeds_Rabi_Yield',
       'other oilseeds_Summer_Yield', 'other oilseeds_Whole Year_Yield',
       'unnamed_col_58_irrigated_area', 'unnamed_col_59_irrigated_area',
       'unnamed_col_60_irrigated_area'],
      dtype='object', length=424)

In [40]:
df_final.State

0        nan
1        nan
2        nan
3        nan
4        nan
        ...
16487    nan
16488    nan
16489    nan
16490    nan
16491    nan
Name: State, Length: 16492, dtype: object